# In memory DB datasource
spring.datasource.url=jdbc:postgresql://localhost:5432/batch?useSSL=false
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.username=root
spring.datasource.password=rootpw
spring.datasource.hikari.maximumPoolSize=500
spring.jpa.generate-ddl=true
#To initialize the batch jdbc required tables
spring.batch.jdbc.initialize-schema=always

oaiharvest.chunk.size=10
oaiharvest.parallelization.size=10

validation.chunk.size=10
validation.parallelization.size=1

transformation.chunk.size=10
transformation.parallelization.size=1

normalization.chunk.size=10
normalization.parallelization.size=10

enrichment.chunk.size=10
enrichment.parallelization.size=10

media.chunk.size=4
media.parallelization.size=4

#Enrichment related
spring.autoconfigure.exclude=org.springframework.boot.autoconfigure.mongo.MongoAutoConfiguration
enrichment.dereference-url=
enrichment.entity-management-url=
enrichment.entity-api-url=
enrichment.entity-api-key=