#spring.cloud.dataflow.client.serverUri=http://scdf-server-192.168.49.2.nip.io

## This is the connection from the host to the host
spring.datasource.url=jdbc:postgresql://localhost:5432/dataflow
spring.datasource.username=admin
spring.datasource.password=admin
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.hikari.maximumPoolSize=5
spring.jpa.generate-ddl=true

flink.jobManagerUrl=
flink.jarId=

flink.jobManagerUser=
flink.jobManagerPassword=
flink.readerParallelism=8
flink.operatorParallelism=8
flink.sinkParallelism=8

source.url=https://metis-repository-rest.test.eanadev.org/repository/oai
source.setSpec=ecloud_e2e_tests
source.metadataPrefix=edm
source.recordCount=8

#source.url=https://metis-repository-rest.test.eanadev.org/repository/oai
#source.setSpec=spring_poc_dataset_with_validation_error
#source.metadataPrefix=edm
#source.recordCount=14
#source.validRecordCount=9

#source.url=http://panic.image.ntua.gr:9000/efg/oai
#source.setSpec=1076
#source.metadataPrefix=rdf
#source.recordCount=5352

batch.registerProperties.oaiHarvestName=batch-oai-harvest
batch.registerProperties.oaiHarvestUri=docker:europeana/batch-oai-harvest:latest
batch.registerProperties.validationName=batch-validation
batch.registerProperties.validationUri=docker:europeana/batch-validation:latest
batch.registerProperties.transformationName=batch-transformation
batch.registerProperties.transformationUri=docker:europeana/batch-transformation:latest
batch.registerProperties.normalizationName=batch-normalization
batch.registerProperties.normalizationUri=docker:europeana/batch-normalization:latest
batch.registerProperties.enrichmentName=batch-enrichment
batch.registerProperties.enrichmentUri=docker:europeana/batch-enrichment:latest
batch.registerProperties.mediaName=batch-media
batch.registerProperties.mediaUri=docker:europeana/batch-media:latest
batch.registerProperties.indexingName=batch-indexing
batch.registerProperties.indexingUri=docker:europeana/batch-indexing:latest

## This is the connection from the internal container to the host.
batch.deploymentProperties.spring.datasource.url=jdbc:postgresql://host.minikube.internal:5432/dataflow
batch.deploymentProperties.spring.datasource.username=admin
batch.deploymentProperties.spring.datasource.password=admin
batch.deploymentProperties.spring.datasource.driver-class-name=org.postgresql.Driver
batch.deploymentProperties.spring.datasource.hikari.maximumPoolSize=5
batch.deploymentProperties.spring.jpa.generate-ddl=true
batch.deploymentProperties.spring.jpa.properties.hibernate.jdbc.batch_size = 20

batch.deployerProperties.kubernetes.requests.cpu=4000m
batch.deployerProperties.kubernetes.limits.cpu=4000m
batch.deployerProperties.kubernetes.requests.memory=8000M
batch.deployerProperties.kubernetes.limits.memory=8000M

batch.jobProperties.oaiHarvest.chunkSize=10
batch.jobProperties.oaiHarvest.parallelizationSize=10
batch.jobProperties.validation.chunkSize=1000
batch.jobProperties.validation.parallelizationSize=10
batch.jobProperties.transformation.chunkSize=1000
batch.jobProperties.transformation.parallelizationSize=10
batch.jobProperties.normalization.chunkSize=10
batch.jobProperties.normalization.parallelizationSize=10
batch.jobProperties.enrichment.chunkSize=10
batch.jobProperties.enrichment.parallelizationSize=10
batch.jobProperties.media.chunkSize=4
batch.jobProperties.media.parallelizationSize=4
batch.jobProperties.indexing.chunkSize=10
batch.jobProperties.indexing.parallelizationSize=10

batch.jobProperties.enrichment.dereference-url=
batch.jobProperties.enrichment.entity-management-url=
batch.jobProperties.enrichment.entity-api-url=
batch.jobProperties.enrichment.entity-api-key=

batch.jobProperties.indexing.preserveTimestamps=false
batch.jobProperties.indexing.performRedirects=true

batch.jobProperties.indexing.mongoInstances=
batch.jobProperties.indexing.mongoPortNumber=27027
batch.jobProperties.indexing.mongoDbName=
batch.jobProperties.indexing.mongoRedirectsDbName=
batch.jobProperties.indexing.mongoUsername=
batch.jobProperties.indexing.mongoPassword=
batch.jobProperties.indexing.mongoAuthDB=admin
batch.jobProperties.indexing.mongoUseSSL=false
batch.jobProperties.indexing.mongoReadPreference=PRIMARY_PREFERRED
batch.jobProperties.indexing.mongoPoolSize=32
batch.jobProperties.indexing.mongoApplicationName=batch-indexing

batch.jobProperties.indexing.solrInstances=
batch.jobProperties.indexing.zookeeperInstances=
batch.jobProperties.indexing.zookeeperPortNumber=
batch.jobProperties.indexing.zookeeperChroot=/
batch.jobProperties.indexing.zookeeperDefaultCollection=
